section#overviewModule.module.css-transitions-only-after-page-load
    .form-group.mt-5.mb-0
        .row.text-center
            .col-lg-3.col-md-6.pb-3
                .border.rounded.p-1
                    p.uppercase
                        i.fas.fa-user-ninja
                        strong.ml-1 Owner
                    if guild.owner
                        p.mb-0 #{guild.owner.user.tag}
                    else
                        p.mb-0 None
            .col-lg-3.col-md-6.pb-3
                .border.rounded.p-1
                    p.uppercase
                        i.fas.fa-user-alt
                        strong.ml-1 Members
                    p.mb-0 #{guild.memberCount}
            .col-lg-3.col-md-6.pb-3
                .border.rounded.p-1
                    p.uppercase
                        i.fas.fa-at
                        strong.ml-1 Roles
                    p.mb-0 #{guild.roles.cache.size}
            .col-lg-3.col-md-6.pb-3
                .border.rounded.p-1
                    p.uppercase
                        i.fas.fa-hashtag
                        strong.ml-1 Channels
                    p.mb-0 #{guild.channels.cache.filter(c => c.type === "text" || c.type === "voice").size}
        .row.text-center
            .col-lg-3.col-md-6.pb-3
                .border.rounded.p-1
                    p.uppercase
                        i.fas.fa-code
                        strong.ml-1 Commands Run
                    - var commandsTotal = 0;
                    - for (let command of commandCounts) {
                    -   commandsTotal += command.count;
                    - }
                    p.mb-0 #{commandsTotal}
        .row.text-center
            .col-lg-12.pb-3.mb-0
                #weekly-messages-chart.chart-container.border.rounded.p-4
                    p 
                        strong Messages This Week
        .row.text-center
            .col-lg-6.col-md-12.pb-3.mb-0
                #day-of-week-messages-chart.chart-container.border.rounded.p-4
                    p 
                        strong Message Frequency by Day of the Week (All-Time)
                    svg#dayOfWeekMessageChart()


link(rel="stylesheet", href="/css/overview.css")
script(src="/js/helpers/moment.js", defer)
script(src="/js/overview.js", defer)