.row.flex-shrink-0.justify-content-center(style="padding-left: 5px")
    .text-center.flex-shrink-0
        a(href="/dashboard")
            .icon.round.shadow
                img.round(alt=user.username, src=user.avatarUrl(64))
        hr
#server-list.col.flex-column.flex-grow-1.overflow-auto
    //- list of guilds
        if it has icon
            show icon
        else
            show short name (Test Server -> TS)
    each guild in guilds
        a(href="/servers/" + guild.id)
            .icon.round.shadow.my-2(data-toggle="tooltip" data-placement="right" title=guild.name)
                if guild.icon
                    img.round.align-center(alt=guild.name, src=guild.iconURL({ size: 64, dynamic: true }))
                else
                    span
                        p.abbr.text-center #{guild.nameAcronym.slice(0, 2)}


    a(href="/invite")
        .icon.round.shadow(data-toggle="tooltip" data-placement="right" title="Add server")
            p.abbr.text-primary.text-center
                i.fas.fa-plus
#hamburger-container.row.flex-shrink-0.justify-content-center(style="padding-left: 5px")
    .hamburger.text-center
        .icon.d-flex.align-items-end
            .custom-toggler